{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div>
        <form method="POST" style="width: 25em; align-content:center; margin: auto;">
            {% csrf_token %}
            {{ form|crispy }}
            <header>
                Are you sure you want to delete?
            </header>
            <button type="submit" class="btn btn-danger" value="Yes">Delete
            </button>
            <td><a type="button" class="btn btn-primary"
                       href="{% url "index" %}">No</a>
            </td>

        </form>
    </div>


{% endblock content %}