{% extends "index.html" %}

{% block content %}

    <table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">URL</th>
      <th scope="col">Creation date</th>
      <th scope="col">Job</th>
      <th scope="col">Color</th>
      <th scope="col">Genre</th>
      <th scope="col">Card</th>


    </tr>
  </thead>
  <tbody>
   {% for group in groups %}
    <tr>
      <th scope="row">{{ group.pk }}</th>
      <td>{{ group.url }}</td>
      <td>{{ group.creation_date }}</td>
      <td>{{ group.group_job_name }}</td>
      <td>{{ group.group_color }}</td>
      <td>{{ group.favorite_genre }}</td>
      <td>{{ group.card_number }}</td>
      <td><a type="button" class="btn btn-secondary"
          href="{% url "groups:update_group" group.pk %}">Edit</a>
      </td>
      <td><a type="button" class="btn btn-danger"
          href="{% url "groups:delete_group" group.pk %}">Delete</a>
      </td>

    </tr>
   {% endfor %}
  </tbody>
</table>

{% endblock content %}