{% extends "index.html" %}
{% load crispy_forms_tags %}


{% block content %}
        {% if user.is_authenticated %}
    <div>
        <form method="POST" style="width: 25em; align-content:center; margin: auto;" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary" value="Create">Create
            </button>
        </form>
    </div>
        {% else %}
                    <h1>To get into site, please, login.</h1>
            <a type="button" class="btn btn-info"
                  href="{% url "core:login"%}">Login</a>

        {% endif %}

{% endblock content %}