{% extends "index.html" %}

{% block content %}

    <table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Avatar</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">SSN</th>
      <th scope="col">Phone</th>
      <th scope="col">Birth date</th>
      <th scope="col">Group</th>

    </tr>
  </thead>
  <tbody>
   {% for teacher in teachers %}
    <tr>
      <td><img src="{{MEDIA_URL}}{{teacher.avatar}}" alt="Try again" width="100"
                                       height=100"/> </td>
      <td>{{ teacher.first_name }}</td>
      <td>{{ teacher.last_name }}</td>
      <td>{{ teacher.email }}</td>
      <td>{{ teacher.address }}</td>
      <td>{{ teacher.ssn }}</td>
      <td>{{ teacher.phone_number }}</td>
      <td>{{ teacher.birth_date }}</td>
      <td>
          {% for group in teacher.group.all %}
            <a type="button" class="btn btn-info"
          href="{% url "groups:update_group" group.pk %}">{{ group.url }}</a>
              {% endfor %}
              </td>
      <td><a type="button" class="btn btn-secondary"
          href="{% url "teachers:update_teacher" teacher.pk %}">Edit</a>
      </td>
      <td><a type="button" class="btn btn-danger"
          href="{% url "teachers:delete_teacher" teacher.pk %}">Delete</a>
      </td>

    </tr>
   {% endfor %}
  </tbody>
</table>

{% endblock content %}