{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div>
        <form method="POST" style="width: 25em; align-content:center; margin: auto;" enctype="multipart/form-data">
            {% csrf_token %}
            <img src="{{MEDIA_URL}}{{profile.photo}}" alt="Try again" width="100"
                                       height=100"/>
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary" value="Update" style="margin-top: 15px">Update
            </button>
        </form>
    </div>


{% endblock content %}